<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapper.java name space -->
<mapper namespace="com.onlinerestaurant.foodie.mappers.UserMapper">
	<!-- User.java name space -->

	<resultMap type="com.onlinerestaurant.foodie.model.User" id="User">
		<result property="userId" column="userid" />
		<result property="userName" column="username" />
		<result property="email" column="email" />
		<result property="password" column="password" />
		<result property="dob" column="dob" />
		<result property="profileImage" column="profileimage" />
	</resultMap>

	<select id="getAllUsers" resultMap="User" parameterType="int">
		SELECT *
		FROM user;
	</select>

	<select id="getUserForId" resultMap="User" parameterType="int">
		SELECT * FROM user where userid = #{userId}
	</select>

	<insert id="createUser" useGeneratedKeys="true" parameterType="com.onlinerestaurant.foodie.model.User" >
		insert into user
		(userName,email,password,dob,profileImage)
		values
		(#{user.userName},#{user.email},#{user.password},#{user.dob},#{user.profileImage})
	</insert>
	<!--auto incremented userId in database -->

	<delete id="deleteUser" parameterType="int">
		delete from user where
		userId = #{userId}
	</delete>

	<update id="updateUser"  parameterType="com.onlinerestaurant.foodie.model.User">
		update user set
		userName = #{user.userName},
		password = #{user.password},
		email = #{user.email},
		dob = #{user.dob},
		profileImage=#{user.profileImage}
		where userId = #{user.userId}
	</update>


</mapper>